
*{
  font-family: "Montserrat", sans-serif;
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}


#service-sub-card{
 
 transition: transform 1.0s;
}
#service-sub-card:hover{
  transform: scale(0.9);
  box-shadow: 2px 2px 4px rgb(70, 69, 69);
 cursor: pointer;
 
}

#main-footer a{
  text-decoration: none;
}
/* #main-footer a:hover{
  border-bottom: 2px solid #f1f1f1;
  padding: 5px;
} */

